<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mapper.BoardMapper">
    <resultMap id="board" type="boardDTO">
        <!--        내부에서 사용가능한 데이터 타입을 만들어줄 수 있음-->
        <!--        조인 했을 때 다른 table에서 특정 colum을 가져와 쓰고자 할때 -->
        <result property="writerNickname" column="nickname"/>
    </resultMap>
    <select id="selectAll" resultMap="board">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        WHERE NOT classify = 3
        ORDER BY board.id DESC
        <!-- ${} : 타입 변환 없이 넘어옴 / #{} : String으로 타입 변환하여 넘어옴-->
    </select>
    <select id="selectAllByKind" resultMap="board" parameterType="int">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        WHERE classify = #{classify}
        ORDER BY board.id DESC
        <!-- ${} : 타입 변환 없이 넘어옴 / #{} : String으로 타입 변환하여 넘어옴-->
    </select>
    <select id="selectOne" resultMap="board" parameterType="int">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        WHERE board.id = #{id}
    </select>
    <insert id="insert" parameterType="boardDTO" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO board(title, content, writer_id, entry_date, classify)
        VALUES(#{title}, #{content}, #{writerId}, NOW(), #{classify})
    </insert>
    <update id="update" parameterType="boardDTO">
        UPDATE board
        SET title=#{title},
        content=#{content},
        classify=#{classify}
        WHERE id=#{id}
    </update>
    <delete id="delete" parameterType="int">
        DELETE FROM board
        WHERE id=#{id}
    </delete>
    <select id="selectByKeywordAll" parameterType="string" resultMap="board">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        WHERE NOT classify = 3 AND
        (title LIKE concat('%', #{keyword},'%')
        OR
        content LIKE concat('%', #{keyword},'%'))
        ORDER BY board.id DESC
    </select>
    <select id="selectByKeyword" parameterType="map" resultMap="board">
        SELECT * FROM board
        INNER JOIN user
        ON board.writer_id = user.id
        WHERE classify = #{classify} AND
        (title LIKE concat('%', #{keyword},'%')
        OR
        content LIKE concat('%', #{keyword},'%'))
        ORDER BY board.id DESC
    </select>
    <select id="countSearchResult" parameterType="string" resultType="int">
        SELECT COUNT(*) FROM board
        WHERE title LIKE concat('%', #{keyword},'%')
        OR
        content LIKE concat('%', #{keyword},'%')
    </select>


    <!--        반복 내용 적을 때-->
    <!--    <insert id="insertMulti" parameterType="boardDTO">-->
    <!--        separator : 끝맺음을 뭘로 할지-->
    <!--     <foreach collection="boardList" list="board" open="(" separator=","> close= ")"  -->

    <!--        <foreach collection="boardList" list="board" separator=";">-->
    <!--            INSERT INTO board(title,content)-->
    <!--            VALUES(#{board.title},#{board.content})-->

    <!--            예시 ==>
                 INSERT INTO board(title,content)
                VALUES('제목 1','글1)
                INSERT INTO board(title,content)
                VALUES('제목 2','글2)
                INSERT INTO board(title,content)
                VALUES('제목 3','글3)

               ....

            </foreach>-->
    <!--    </insert>-->
</mapper>